{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": { "node": "8" }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": { "node": "8" }
          }
        ]
      ]
    }
  }
}
