node_modules/
coverage/
.nyc_output/
*.log
.DS_Store

# ignore locally created hyper-reading dbs
*.db/

# documentation and test folders not to be packaged with npm
presentations/
docs/
test/
reading-lists/
